mcml/mc
*.o
configs/train.json
train/input/*
train/data_list.csv
train/spec/*
data/*
*.rar
clinic_data/*
.DS_Store
*.png
20180408/*
mcx/*
output/*
__pycache__/*
stuff/*
output_first_train/*
utils/__pycache__/*
inverse/__pycache__/*
generator/__pycache__/*
*.pyc
